*{
    margin: 0;
    padding: 0;
}

.title h1{
    text-align: center;
    margin-top: 15px;
    font-size: 40px;
}


.title h6{
    text-align: center;
    margin-top: 35px;
    font-size: 13px;
}

.main{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}


.right{
    float: right;
}


.left{
  margin-top: 10px;
  padding: 5px;
  background-color: rgb(228, 220, 220);
}
.left p{
    width: 70%;
    margin: 20px;
}

.left img{
    width: 75%;
    height: 800px;
}


/* right */

.india{
 border: 40px solid white;
 margin: 10px;
 color: rgb(0, 0, 0);
 background-color: white;
 font-size: 20px;
}

.india h3{
    text-align: left;
}

.india img{
    width: 270px;
    height: 240px;
}